.estrenos {
    min-width: 300px;
    height: 800px;
    background: #020025;
    font-size: 160px;
    padding: 25px;
    color: white;
    align-items: center;
    justify-content: center;
    border: 8px solid white;
    margin-bottom: 15px;
  }